<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="style.css" rel="stylesheet">
        
        

        <title>Exhibition Ticket</title>
    </head>

    <body>
        <div id="head">
            <h1>Exhibition Ticket Revenue Report</h1>
            <h4>For date range <%- start %> to <%- end %></h4> 
        </div>

    
           

            <div class="container">
                <div class="head">
                <h2>General Exhibition Ticket Revenue</h2>
                </div>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Exhibition Transaction ID</th>
                            <th scope="col">Date of Sale</th>
                            <th scope="col">Exhibition ID</th>
                            <th scope="col">Exhibition Ticket ID</th>
                            <th scope="col">Visitor ID</th>
                            <th scope="col">Number of Under 12 Tickets</th>
                            <th scope="col">Number of 12-65 Tickets</th>
                            <th scope="col">Number of 65+ Tickets</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Transaction Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- genentries %>
                        
                    </tbody>
                </table>
                

                
      
                <br>
                <br>
                <hr>
                <h3 style="text-align: justify">General Exhibition Ticket Revenue: $<%- gentotal %></h2>
                
                <br>
                <br>
           

            <div class="container">
                <div class="head">
                <h2>Special Exhibition Ticket Revenue</h2>
                </div>
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Exhibition Transaction ID</th>
                            <th scope="col">Date of Sale</th>
                            <th scope="col">Exhibition ID</th>
                            <th scope="col">Exhibition Ticket ID</th>
                            <th scope="col">Visitor ID</th>
                            <th scope="col">Number of Under 12 Tickets</th>
                            <th scope="col">Number of 12-65 Tickets</th>
                            <th scope="col">Number of 65+ Tickets</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Transaction Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- specentries %>
                        
                    </tbody>
                </table>
                

                
      
                <br>
                <br>
                <hr>
                <h3 style="text-align: justify">Special Exhibition Ticket Revenue: $<%- spectotal %></h2>
                
                <br>
                <br>
            </div>
        </div>
        <p>______________________________________________</p>
        <br>
        <br>
        <h2 style="text-align: justify">Total Exhibition Ticket Revenue: $<%- total %></h2>
                
        <br>
        <br>
    </body>

    <footer>
        <div id="foot">--------------------------------END OF REPORT------------------------------<div>
    </footer>
</html> 
